<appSettings>
  <add key="APP_KEY" value="a347ed6941f84246b602e884a0028649" />
  <add key="APP_SECRET" value="a4c6ab32e3004ee0be5de7e3d41ba057" />
  <!--
  正式环境地址：http://api.seller.papago.hk
  测试环境地址：http://515.seller.api.papago.hk
  -->
  <add key="API_URL" value="http://localhost:9055" />
</appSettings>